<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/FamilyHubRef" version="1.0.0" viewmodes="maximized">
    <access origin="http://121.135.150.5:12111/" subdomains="true"></access>
    <access origin="*" subdomains="true"></access>
    <tizen:application id="zbGSHHT9eQ.FamilyHubRef" package="zbGSHHT9eQ" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="ic_launcher.png"/>
    <name>FamilyHub</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
</widget>
